@import "tailwindcss";

@theme {
  --color-primary: #fb641b;
  --color-secondary: #2874f0;
  --color-background-light: #f1f2f4;
  --color-background-dark: #121212;

  --font-sans: "Roboto", sans-serif;

  --radius-default: 8px;
}

@layer base {
  body {
    @apply bg-background-light dark:bg-background-dark text-gray-900 dark:text-gray-100 font-sans;
  }
}

@utility no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes bounce-subtle {

  0%,
  100% {
    transform: translateY(-5%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@utility animate-bounce-subtle {
  animation: bounce-subtle 2s infinite;
}

/* Swiper Custom Styling for Flipkart Look */
.home-banner-swiper .swiper-button-next,
.home-banner-swiper .swiper-button-prev {
  background-color: white;
  width: 40px !important;
  height: 100px !important;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 0;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: all 0.3s ease;
  z-index: 20;
}

.home-banner-swiper:hover .swiper-button-next,
.home-banner-swiper:hover .swiper-button-prev {
  opacity: 1;
}

.home-banner-swiper .swiper-button-next {
  right: 0 !important;
  border-radius: 10px 0 0 10px;
}

.home-banner-swiper .swiper-button-prev {
  left: 0 !important;
  border-radius: 0 10px 10px 0;
}

.home-banner-swiper .swiper-button-next::after,
.home-banner-swiper .swiper-button-prev::after {
  font-size: 24px !important;
  font-weight: 900 !important;
  color: #212121;
}

.home-banner-swiper .swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.5);
  opacity: 1;
  transition: all 0.3s ease;
}

.home-banner-swiper .swiper-pagination-bullet-active {
  background: #fff !important;
  width: 24px !important;
  border-radius: 4px !important;
}

.home-banner-swiper .swiper-button-disabled {
  display: none !important;
}
